[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tox = "*"
flake8 = "*"
coverage = "*"
pytest = "*"
attr = "*"
ipython = "*"
click = "*"

[requires]
python_version = "3.7"
